In [7]:
import pandas as pd
import matplotlib.pyplot as plt

#read the csv file and assign it to df
df = pd.read_csv("../data/WWE_History_1000_Cleaned.csv")

Basic Dataset Overview

In [8]:
# Dataset shape
print("Rows, Columns:", df.shape)

# Column info
df.info()

# Statistical summary (only meaningful for numeric columns)
df.describe()

Rows, Columns: (855, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855 entries, 0 to 854
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Match ID     855 non-null    int64
 1   Date         855 non-null    object
 2   Event        855 non-null    object
 3   Winner       855 non-null    object
 4   Loser        855 non-null    object
 5   Title Match  855 non-null    int64
dtypes: int64(2), object(4)
memory usage: 40.2+ KB

         Match ID  Title Match
count  855.000000   855.000000
mean    25.445614     0.513450
std     14.463684     0.500112
min      1.000000     0.000000
25%     13.000000     0.000000
50%     25.000000     1.000000
75%     38.000000     1.000000
max     50.000000     1.000000

Total Matches Per Wrestler (Participation Analysis)

In [9]:
# Combine winner and loser into one series
all_wrestlers = pd.concat([df['Winner'], df['Loser']])

# Count total matches per wrestler
match_counts = all_wrestlers.value_counts()

# Top 10 most active wrestlers
match_counts.head(10)

John Cena          42
Roman Reigns       42
Brock Lesnar       42
Seth Rollins       42
Randy Orton        42
Aj Styles          42
Edge               42
Kevin Owens        42
Bobby Lashley      42
Charlotte Flair    42
Name: count, dtype: int64

Win & Loss Counts Per Wrestler

In [ ]:
# Total wins per wrestler
win_counts = df['Winner'].value_counts()

# Total losses per wrestler
loss_counts = df['Loser'].value_counts()

# Combine wins and losses into one DataFrame
performance_df = pd.DataFrame({
    'Wins': win_counts,
    'Losses': loss_counts
}).fillna(0).astype(int)

# Add total matches
performance_df['Total Matches'] = performance_df['Wins'] + performance_df['Losses']

# Sort by wins
performance_df.sort_values(by='Wins', ascending=False).head(10)