In [45]:
import pandas as pd

df = pd.read_csv("../data/WWE_History_1000_cleaned.csv")

In [46]:
wins = df['Winner'].value_counts().rename('wins')
losses = df['Loser'].value_counts().rename('losses')

features = pd.concat([wins, losses], axis=1).fillna(0)

features['win_rate'] = features['wins'] / (features['wins'] + features['losses'])

In [47]:
title_wins = (
    df[df['Title Match'] == 1]['Winner']
    .value_counts()
    .rename('title_wins')
)

features = features.merge(
    title_wins,
    left_index=True,
    right_index=True,
    how='left'
)

features['title_wins'] = features['title_wins'].fillna(0)

In [48]:
features['total_matches'] = features['wins'] + features['losses']

print(features.columns)
features.head()

Index(['wins', 'losses', 'win_rate', 'title_wins', 'total_matches'], dtype='object')

              wins  losses  win_rate  title_wins  total_matches
John Cena     21.0    21.0       0.5        11.0           42.0
Roman Reigns  21.0    21.0       0.5        10.0           42.0
Brock Lesnar  21.0    21.0       0.5        11.0           42.0
Seth Rollins  21.0    21.0       0.5        11.0           42.0
Randy Orton   21.0    21.0       0.5        10.0           42.0

In [49]:
features['score'] = (
    features['wins'] * 1.0 +
    features['title_wins'] * 2.5 +
    features['win_rate'] * 5
)
features.head()

              wins  losses  win_rate  title_wins  total_matches  score
John Cena     21.0    21.0       0.5        11.0           42.0   51.0
Roman Reigns  21.0    21.0       0.5        10.0           42.0   48.5
Brock Lesnar  21.0    21.0       0.5        11.0           42.0   51.0
Seth Rollins  21.0    21.0       0.5        11.0           42.0   51.0
Randy Orton   21.0    21.0       0.5        10.0           42.0   48.5

In [50]:
features.to_csv("../data/wrestler_features_2023.csv")